/* flex box for the elements within a container */
.container {
    display: flex;
    flex-flow: row wrap;
  }
  
  .element {
    width: 100%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center; 
    align-items: center;
  
    position:relative;
  }
  
  .element a, img {
    width: 100%
  }
  
  /* hover-overlay for the title of a task card */ 
  .title-overlay {
    position: absolute; 
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    text-align: center;
  }
  
  .element:hover .title-overlay {
    opacity: 1;
  }
  
  /* MEDIA QUERIES */
  @media (min-width: 800px) {
    .element {
        width: 45%;
    }
  }
  
  @media (min-width: 1200px) {
    .element {
        width: 30%;
    }
  }